<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">
    
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="first_container">
            <div class="text-overlay animated">
                <h1>
                    <span style="--index: 1;">P</span>
                    <span style="--index: 2;">r</span>
                    <span style="--index: 3;">e</span>
                    <span style="--index: 4;">d</span>
                    <span style="--index: 5;">i</span>
                    <span style="--index: 6;">c</span>
                    <span style="--index: 7;"> </span>
                    <span style="--index: 8;">T</span>
                    <span style="--index: 9;">e</span>
                    <span style="--index: 10;">c</span>
                    <span style="--index: 11;">h</span>
                </h1>
                <p>Machine learning, intelligent prediction of machine events</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 PredicTech. All rights reserved.</p>
        </div>
    </footer>
    
    
<%- include('../includes/end.ejs') %>